$centerCardHeight: 200px;
$cardAspectRatio: 200.75 / 275;

.PlayersList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  &__cards-row {
    display: flex;
  }

  &__prompt-row {
    margin-top: 10px;
  }

  &__card {
    margin: 5px;
    height: $centerCardHeight;
    width: $centerCardHeight * $cardAspectRatio;
    border-radius: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $centerCardHeight * 0.6;
    &--border {
      border: 5px solid yellow;
    }

    &--oldRole {
      opacity: 0.5;
    }
  }

  &__card:not(.no-background) {
    background-color: #444;
  }

  &__card:not(.no-hover):hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
