// https://create-react-app.dev/docs/adding-a-sass-stylesheet/
@import 'common';

.Drunk {
  flex: 1 1 0;
  min-height: 0;

  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__role,
  &__team {
    @include boldPrompt;
    flex: 1 1 0;
  }

  &__description {
    flex: 2 2 0;
  }

  &__column {
    @include column;
  }

  &__box {
    flex: 1 1 0;
  }

  &__list-item {
    padding: 16px 0;
  }

  &__box-header {
    @include boldPrompt;
  }

  &__image {
    align-self: center;
    width: auto;
    height: 275px;
    // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2) inset;
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
  }

  &__checkbox {
    display: block;
    padding: 10px 0;
  }
}
