@import 'common';

.CreateGame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include boldPrompt;
    margin-bottom: 16px;
  }
  &__button {
    width: 100px;
  }
}
