@mixin boldPrompt {
  font-weight: 600;
}

$colTopPadding: 64px;
$colBottomPadding: 32px;

@mixin column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - $colTopPadding - $colBottomPadding);
  padding: $colTopPadding 72px $colBottomPadding 72px;
}
