@import 'common';

.DayPhase {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__header {
    @include header;
  }
}

.DayPhaseBody {
  display: flex;
  flex: 1;

  &__vertical-gutter {
    // TODO: should be sized with some flex shit. flex: <max> <min> <prefferred>
    height: 32px;
  }

  &__column {
    @include column;
  }

  &__timer {
    align-items: center;
    justify-content: center;
    font-size: 72px;
  }

  &__kill-prompt {
    @include boldPrompt;
  }
}
