// https://create-react-app.dev/docs/adding-a-sass-stylesheet/
@import 'common';

.NightPhase {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__header {
    @include header;
  }
}

.NightPhaseBody {
  display: flex;
  height: 100vh;

  &__column {
    @include column;
  }

  &__box {
    flex: 1 1 0;
  }

  &__list-item {
    padding: 16px 0;
  }

  &__box-header {
    @include textBold;
  }

  &__role,
  &__team {
    // TODO: color affiliation red for werewolf and green for good guy
    @include textBold;
    margin-bottom: 20px;
  }

  &__image {
    align-self: center;
    // ends up be 230 x 315
    width: 230px;
    height: auto;
    // TODO: this should be justify-self: fill in remaining space
    margin: 25px 10px;
  }
}
