// https://create-react-app.dev/docs/adding-a-sass-stylesheet/
@import 'common';

.NightPhase {
  flex: 1 1 0;
  min-height: 0;

  display: flex;

  &__vertical-gutter {
    // TODO: should be sized with some flex shit. flex: <max> <min> <prefferred>
    height: 64px;
  }

  &__role,
  &__team {
    // TODO: color affiliation red for werewolf and green for good guy
    @include boldPrompt;
    // margin-bottom: 20px;
    flex: 1 1 0;
  }

  &__description {
    flex: 2 2 0;
  }

  &__column {
    @include column;
  }

  &__box {
    flex: 1 1 0;
  }

  &__list-item {
    padding: 16px 0;
  }

  &__box-header {
    @include boldPrompt;
  }

  &__image {
    align-self: center;
    // ends up be 230 x 315
    width: auto;
    height: 50%;
    // TODO: this should be justify-self: fill in remaining space
    // margin: 25px 10px;
    // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2) inset;
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
  }

  &__checkbox {
    display: block;
    padding: 10px 0;
  }
}
